Source: qml-module-lliurex-ui
Section: utils
Priority: optional
Maintainer: Enrique Medina Gremaldos <quique@necos.es>
Build-Depends: debhelper-compat (= 13), cmake, qt6-base-dev, qt6-declarative-dev
Standards-Version: 4.6.0
Rules-Requires-Root: no
Homepage: http://lliurex.net

Package: qml-module-lliurex-ui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LliureX qml widgets
 Some qml widgets with LliureX look and feel (fake windows, noise backgrounds,...)
